<a href="https://colab.research.google.com/github/SmrutiNIT/PythonBasics-May-29-Batch/blob/main/Assignment_03_Q4_%5BHypothesis_Testing%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Customer Order Form Assignment 3-Q-4.ipynb
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2
from scipy.stats import chi2_contingency

In [25]:
custom= pd.read_csv('/content/Costomer+OrderForm.csv')

In [26]:
custom.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [28]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [29]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [30]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [31]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [32]:
observed=([[271,267,269,280],[29,33,31,20]])

In [33]:
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [34]:
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [36]:
stat

3.858960685820355

In [37]:
p

0.2771020991233135

In [38]:
print('dof=%d' % dof)
print(expected)

dof=3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [39]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
	print('Dependent (reject H0),variables are related')
else:
	print('Independent (fail to reject H0), variables are not related')

probability=0.950, critical=7.815, stat=3.859
Independent (fail to reject H0), variables are not related

In [40]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)

In [ ]:
#Inference: 
#As (p_value = 0.2771) > (Î± = 0.05); Accept Null Hypthesis
# i.e. Independence of categorical variables 
#Thus, customer order forms defective % does not varies by centre.